.div-mob{
   height: 1080px;
   width: 1920px;
   background-color: saddlebrown;
}
.body{
    overflow-x: hidden;
}

/*
    COMING SOON PAGE
*/
@media (max-width: 575px){
    .body{
        overflow-x: hidden;
        overflow-y:
        max-width: 100%;
    }
    .div-mob{
        height: 667px;
       background-color: white;
       max-width: 100%;
    }
    .back-img{
        background-image: url(../img/gallery/boy.png);
        background-repeat: no-repeat;
        position: relative;
       max-width: 100%;
        height: 328px;
        left: 4px;
        top: 339px;
    }

   .btn{
    position: relative;
    width: 101px;
    height: 36px;
    left: 56px;
    top: 326px;
    
    background: #289FEE;
    color: white;
    border-radius: 10px;
   }

    h1{
        position: absolute;
width: 188px;
height: 56px;
left: 44px;
top: 153px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #E25007;
    }


    h2{
        position: absolute;
width: 190px;
height: 84px;
left: 44px;
top: 209px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 72px;
line-height: 84px;

color: #2D2D2D;
    }


    .logo-mob{
        position: absolute;
width: 89px;
height: 55px;
left: 16px;
top: 15px;

background: url(../img/logo/logo.png);
    }
}




/*
   Mobile footer design
*/
@media (max-width: 575px){
    .footer-mobile{
    

       
    }

    .footer-img{

    }

    .footer-box{
        position: relative;
        height: 272px;
        left: 0px;
        top: 395px;

        background: #031718;
    }
    
    .footer-logo-mob{
        position: relative;

left: 20px;
top: 40px;
background-repeat: no-repeat;
background: url(../img/gallery/logo-white-txt.png);

    }

    .pmob{
        font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;

color: #FEFEFE;
    }

    .m-add{
        position: relative;
        left:20px;
        top:50px;
    }
   
}



/*
   ABOUT PAGE STORY CLASSES
   WRITTEN BY NISHANT KUMAR
   DATE - 17-7-2020
*/

.story-mob-container{
    height: 667px;
    background-color: #fff;
    overflow-x: hidden;
}

.title-mob{
    position: relative;
left: 30px;
top: 150px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 16px;

color: #201F1F;
}

.desc-mob{
    position: relative;

left: 30px;
top: 191px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

color: #000000;
}

.story-img{
    position: absolute;
    max-width: 100%;
width: 355px;
height: 272px;
top: 403px;
object-fit: cover;

background: url(../img/gallery/about_back_mob.png);
}

.vision-bg-mob{
    position: relative;
    max-width: 100%;
width: 365px;
height: 489px;
left: 0px;
top: 178px;

background: url(../img/gallery/vision.png);
object-fit: cover;
}




/* Responsive Naviganion BAR */

.mob-nav{
    max-width: 100%;
    background-color: royalblue;
    font-family: Roboto;
    height: 40px;
    
}



@media (max-width : 575px){
    .mob-nav{
        max-width:100%;
        background-color: #fff;
        font-family: Roboto;
        height: 90px;
    }
    .mob-list{
        visibility: hidden;        
    }
    .comp-logo{
        background-image: url(../img/logo/mob-logo-small.png);
        height: 62px;
        width: 98px;
        position: relative;
        top:15px;
        left: 15px;

        
    }
    .mob-nav-ico{
        position: absolute;
        background-image: url(../img/gallery/menu-bar-mob.png);
        height: 55px;
        width: 50px;
        left: 300px;
        top: 15px;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
    .on-top{
        z-index: 1000;
    }
}


@media only screen (min-width: 700px){

}






  /*  MOBILE NAVIGATION MENU */

  @media(max-width:575px){
      .mob-nav-menu{
          display: none;
      }

      .mob-nav-menu:hover #sidebar{
          background-color: #289FEE;
          display: block;
          width: 100%;
          height: 500px;
      }

      .mob-nav-menu:focus #sidebar{
          display: block;
      }
      .mob-nav-ico:hover{
          
      }
  }